/ add navigation links to this file
li(class= ('active' if controller.controller_name == 'zoos'))= link_to "Zoos (#{Zoo.count})", zoos_path
li(class= ('active' if controller.controller_name == 'animals'))= link_to "Animals (#{Animal.count})", animals_path